In [4]:
from pathlib import Path
import pandas as pd
import csv

In [5]:
house_info = Path("C:/Users/sagui/Downloads/House_Data.csv")

In [7]:
df_house = pd.read_csv(house_info)
df_house

        price region  postal_code  baths  beds   sqft  lot_size  year_built
0   6500000.0     CA        90210    6.0   5.0  6,500      1.23      1949.0
1    825000.0     CA        90745    3.0   3.0  1,850      0.17      2005.0
2    750000.0     CA        90745    2.0   2.0  1,200      0.15      2002.0
3    675000.0     CA        90745    3.0   2.0  1,500      0.20      2003.0
4    650000.0     CA        90745    2.0   2.0  1,300      0.12      2001.0
5   1986895.0     CA        91306    2.0   3.0  6,899   1956.00         NaN
6   2000000.0     CA        91604    4.0   5.0  1,618      1.00      1963.0
7    828000.0     CA        91790    4.0   2.0  1,251      0.20      2004.0
8    765000.0     CA        90712    3.0   2.0  1,491      0.17      2004.0
9   8163666.0     CA        90077    7.5   8.0  7,000  18000.00      2004.0
10   930000.0     CA        92805    4.0   2.5  2,031   5535.00      2021.0
11   536000.0     OR        97206    5.0   4.0  6,098      0.22      2002.0
12   500300.0     OR        97229    2.5   3.0  1,491   2004.00         NaN
13   505000.0     OR        97231    2.0   3.0  1,491      0.69      1924.0
14   395000.0     OR        97011    3.0   4.0  7,200      1.80      1966.0
15   409000.0     OR        97535    3.0   2.0  1,500      0.11      2023.0
16   815000.0     OR        97327    4.0   2.0  2,046      5.10      2021.0
17   780200.0     OR        97223    2.5   3.0  1,491      0.17      2004.0